html {
	background: #101010;
	font-family: Arial;
	color: white;
}

h1 {
	text-align: center;
}

h2 {
	margin-left: 8pt;
}

h1 span {
	padding: 10pt;
	background: #20202B;
	border-radius: 200pt;
}

a {
	color: #aaaaff;
}

input {
	background: #1b1b1b;
	color: white;
	border: 1pt solid #aaaaaa;
	float: right;
	clear: both;
	border-radius: 3pt;
}

select {
	float: right;
	clear: both;
}

.topBar {
	background: #282828;
	margin-left: 50pt;
	margin-right: 50pt;
	padding: 0.5%;
	font-size: 125%;
	border-radius: 5pt;
}

.topBar a {
	color: white;
	text-decoration: none;
	padding-right: 5pt;
}

#columnContainer {
	display: flex;
	margin-left: 50pt;
	margin-right: 50pt;
	margin-top: 8pt;
}

#leftColumn {
	flex: 1;
	margin-right: 8pt;
}

#rightColumn {
	flex: 0.4;
	margin-left: 8pt;
}

#buttonContainer {
	text-align: center;
}

.mainItem {
	background: #1b1b1b;
	margin-top: 16pt;
	margin-bottom: 16pt;
	padding: 5pt;
	border-radius: 10pt;
}

.imgDesc {
	font-size: 75%;
	font-weight: bold;
	margin-left: 8pt;
}

.itemImg {
	width: 100%;
}